/*COLORS:
 *#c13838
 *#8c1616
 *#e5e5e5
 *#363332
 *#ceaf8c
 */

body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c13838;
}

header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: #c13838;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 3;
}

#logo {
  float: left;
  margin: 5px 0px 10px 10px;
  /* in accordance with University regulation the margins on either side of the
  logo is greater than 1/4 of a diameter of the logo.*/
  height:70px;
}

header nav ul {
  height: 70px;
  float: left;
  padding-left:20px;
}

header nav ul li {
  height: 70px;
  display: inline-block;
}

header nav ul li a {
  height: 30px;
  display: block;
  padding: 17px 20px;
  color: #e5e5e5;
  font-size: 2.2em;
  text-decoration: none;
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  transition: color 1s ease;
}

header nav ul li a:hover{
  color: #8c1616;
}

header nav ul li a.active{
  height: 33px;
  border-bottom: none;
  color:#8c1616;
}

header nav ul li a.link { 
  background-color: #c13838; 
}

header nav ul li a.inuse{
  border-top: #8c1616;
  border-bottom: #8c1616;
}

#container{
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  margin-top: 70px;
}

.content h2 {
  color: #e5e5e5;
  font-family: Times, sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 0px;
}


.content p {
  color: #363332;
  font-family: Times, sans-serif;
  font-weight: 300;
  font-size: 1em; 
}

.credits {
    text-align: left;
    font-size: 10px;
}
/*-------Gallery-------*/
#banner-slide{
	margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#container .container #container{
	text-align: center;
	position: relative; 
	margin: 0;
	width: 100%;
}
	
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#e5e5e5;
	color:#363332;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#8c1616;
	color:#e5e5e5;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#e5e5e5;
	color:#363332;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #8c1616;
}

/*-------Team.html-------*/
#team h1 {
    color: #e5e5e5;
    font-size: 40px;
}
#team {
    text-align: center;
}
#container .container #banner-slide { 
	text-align: center;
	position: relative; 
	margin: 0;
	width: 100%;
}
	
#container .container #team ul {
	width:100%;
	margin:0px;
	float:none;
}
	
#container .content #team ul li {
	display: inline-block;
	width: 30%;
	padding: 50px;
	float:none;
	list-style: none;
}

#container .content #team ul li h2{ 
	font-size: 23px;
	line-height: 50px;
	font-family: "futura-pt", sans-serif;
	color: #e5e5e5;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#container .content #team ul li h3{ 
	font-size: 20px;
	line-height: 20px;
	font-family: "garamond-premier-pro", serif;
	color: #363332;
	text-transform: none;
	font-style: italic;
	padding-bottom: 40px;
}

.img-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: block;
}

#banner{
  background-color: #ceaf8c;
  width: 98%;
  height: 200px;
  margin-top: 100px;
  padding: 0px 0px 0px 20px;
}
#banner h1{
  font-size: 96pt;
  color: #c13838;
  position: absolute;
  top: 110px;
}
#banner img{
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  vertical-align: baseline;
}