
/*-------------FONT IMPORT FROM GOOGLE FONTS-----------------*/
/*----------------------BY ZACH PRAISS-----------------------*/

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

/*------------------OVERALL WEBSITE CODING-------------------*/
/*-----------------------BY EVERYONE-------------------------*/

body {
    background-color: #c13838;
}

body, ul, li {
    margin: auto;
    padding: 0;
}

/*------------------CODING FOR THE HEADER---------------------*/
/*-----------------------BY ZACH PRAISS-----------------------*/
#current{
    color: #8c1616;
}
#currentf{
    color: #fff;
}
#currentf1{
    color: #fff;
}

header {
    max-width: 850px;
    margin: auto;
    height: 90px;
}

header nav ul {
    list-style-type: none;
    text-align: right;
    padding-top: 61px;
}

header nav ul li {
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #8c1616;
    display: inline-block;
    padding-left: 35px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: #8c1616;
}

#logo {
    float: left;
    margin: 10px 10px 10px 0px;
    /* in accordance with University regulation the margins on 
    either side of the logo is greater than 1/4 of a diameter 
    of the logo.*/
    height: 70px;
}
#currentpage{
	color: #8c1616;
}

/*------------------CODING FOR THE BANNER---------------------*/
/*----------------------BY ZACH PRAISS------------------------*/

#banner {
    background: white;
    height: 205px;
    width: 100%;
    margin: auto;
}

#banner img{
    object-fit: none;
    object-position: center;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

/*-----------------CODING FOR THE CONTAINER-------------------*/
/*----------------------BY KATIE CRAWFORD---------------------*/

#container{
    max-width: 850px;
    margin: auto;
}

.content h1 {
    color: #FFFFFF;
    display: inline;
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 125px;
    font-size: 150px;
    margin: 0px;
    padding: 0px;
}

.content h2 {
    color: #FFFFFF;
    display: inline;   
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 68px;
    font-size: 80px;
}

.content h3 {
    color: #FFFFFF;
    display: inline;   
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.content p {
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-size: 1.2em; 
}

.content a{
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
}

.content a:hover{
   color: #8c1616;
}

.question{
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-size: 1.6em; 	
}

#give{
    text-align: center;
    padding-bottom: 25px;
}

.button{
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px; 
    border:none; 
    border-radius:50px;
    font:1.4em Oswald, Helvetica, sans-serif;
    font-weight:bold; 
    color:#8c1616; 
    background:#ffffff;  
  
}

.button:hover{
    padding:11px 32px; 
    border:none; 
    border-radius: 50px; 
    font:1.4em Oswald, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#8c1616; 
    background:#e0e0e0;   
}

/*-----------------CODING FOR THE SLIDESHOW-------------------*/
/*----------------------BY DAMI OJO---------------------------*/

#banner-slide{
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#container .container #container{
    text-align: center;
    position: relative; 
    margin: 0;
    width: 100%;
}
    
ul.bjqs-controls.v-centered li a{
    display:block;
    padding:10px;
    background:#e5e5e5;
    color:#363332;
    text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
    background:#8c1616;
    color:#e5e5e5;
}

ol.bjqs-markers li a{
    padding:5px 10px;
    background:#e5e5e5;
    color:#363332;
    margin:5px;
    text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
    background: #8c1616;
}

/*------------------CODING FOR THE FOOTER---------------------*/
/*----------------------BY ZACH PRAISS------------------------*/

#footer {
    border: solid white;
    border-width: 22px 0px 0px 0px;
    background: #c13838;
    height: 30px;
}

#footer nav ul {
    color: #FFFFFF;
    font-size: 17px;
    font-family: Oswald, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 31px;
    text-align: center;
}

#footer nav ul li {
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
}

#footer nav ul li a {
    color: #8c1616;
    text-decoration: none;
}

#footer nav ul li a:hover{
    color: #FFFFFF;
}

#bottom {
    background: #8c1616;
    height: 150px;
}

#bottom nav ul {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 17px;
    font-family: Oswald, Helvetica, sans-serif;  
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    line-height: 30px;
}

#bottom nav ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#bottom nav ul li a {
    color: #c13838;
    font-weight: 300;
    text-decoration: none;
}

#bottom nav ul li a:hover{
    color: #FFFFFF;
}

#credits {
    max-width: 850px;
    margin: auto;
}

#credits p.email {
    font-size: 18px;
    text-align: center;
    display: inline;
    line-height: 55px;
    padding-left: 137px;
    color: #c13838;
    font-family: 'Libre Baskerville', Garamond, serif;
}

#credits p.credits {
    float: right;
    text-align: right;
    font-size: 8px;
    line-height: 13px;
    color: #c13838;
}

#credits a {
    color: #c13838;
}

#credits a:hover {
    color: #E0E0E0;
}

#credits a.email {
    text-decoration: none;
}

#credits img.media {
    height: 45px;
    width: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    display: inline;
    float: left;
}

#large_logo {
    height: 50px;
    display: block;
    text-align: center;
    margin: auto;
}

/*-----------------CODING FOR THE CONTACT FORM-------------------*/
/*----------------------BY ZACH PRAISS------------------------*/

#formparagraph{
    margin-left: 30%;
}
#contact {
    margin: 5px 5px 0px 0px;
}
#contact p {
    padding-top: 20px;
    display: block;
    margin: 7px 0px 10px 0px;
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-size: 1.2em; 
}

#contact p.question {
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.0em; 
}
#name {
    width:100%;
    max-width: 300px;
}
#email {
    width:100%;
    max-width: 300px;
}
#subject {
    width:100%;
    max-width: 300px;
}
#msg {
    width:100%;
    max-width: 300px;
    height:200px;
}
#sendbutton{
    padding-top: 10px;
    margin-left: 90px;
}
#send{
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px; 
    border:none; 
    border-radius:50px;
    font:1em Oswald, Helvetica, sans-serif;
    font-weight:bold; 
    color:#8c1616; 
    background:#ffffff;  
}

#send:hover{
    padding:11px 32px; 
    border:none; 
    border-radius: 50px; 
    font:1em Oswald, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#8c1616; 
    background:#e0e0e0;   
}


/*----------------CODING FOR THE TEAM PAGE--------------------*/
/*-----------------------BY DAMI OJO--------------------------*/

#team h1 {
    color: #e5e5e5;
    font-size: 40px;
}
#team {
    text-align: center;
}

#container .container #banner-slide { 
	text-align: center;
	position: relative; 
	margin: 0;
	width: 100%;
}
	
#container .container #team ul {
	width: 100%;
	margin:10px;
	float:none;
}
	
#container .content #team ul li {
	display: inline-block;
	width: 15%;
	padding: 40px;
	float:none;
	list-style: none;
}

#container .content #team ul li h2{ 
	font-size: 20px;
	line-height: 30px;
	font-family: "futura-pt", sans-serif;
	color: #e5e5e5;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin-left: 45px;
}

#container .content #team ul li h3{ 
	font-size: 20px;
	line-height: 20px;
	font-family: "garamond-premier-pro", serif;
	color: #363332;
	text-transform: none;
	font-style: italic;
    margin-left: 50px; 
}

#container .content #team ul li h4{ 
	font-size: 17px;
	line-height: 15px;
	font-family: "garamond-premier-pro", serif;
	color: #363332;
	text-transform: none;
	font-style: italic;
    margin-left: 40px; 
}

.img-circle {
    border-radius: 0%;
    overflow: hidden;
    height: 220px;
    width: 200px; 
}

/*----------------CODING FOR THE COLUMNS-----------------------*/
/*-------------------------------------------------------------*/

.column {
    width: 33%;
    float:left;
    border-left: solid white 1px;
}

.columntext {
    padding: 35px;
}

.column1 {
    width: 33%;
    float:left;
}

.column h1, .column1 h1 {
    text-align: center;
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 400; 
    font-size: 25px;
    color: #FFFFFF;
}

.column p, .column1 p {
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

p.italics {
    font-style: italic;
}

/*----------------CODING FOR THE FAQS PAGE--------------------*/
/*------------------------------------------------------------*/

p.question {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
}

p.answer {
    color: #E0E0E0;
    font-family: 'Libre Baskerville', Garamond, serif;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    line-height: 21px;
}

/*----------------MOBILE FRIENDLY CODING----------------------*/
/*------------------------------------------------------------*/

@media (max-width: 850px) {
    header {
        padding-right: 25px;
        padding-left: 25px;
    }

    header nav ul {
        padding-top: 64px;
    }   

    header nav ul li {
        font-size: 22px;
        padding-left: 25px;
    }

    #container{
        padding-left: 25px;
        padding-right: 25px;
    }

    .content h1 {
        line-height: 87px;
        font-size: 100px;
    }

    .content h2 {
        line-height: 67px;
        font-size: 80px;
    }

    .content h3 {
        font-size: 24px;
    }

    .content p {
        font-size: 1.0em; 
    }

    .question {
        font-size: 1.6em;   
    }

    .button{
        font: 1.1em Oswald, Helvetica, sans-serif;
    }

    .button:hover{
        font: 1.1em Oswald, Helvetica, sans-serif; 
    }

    #footer {
        border-width: 20px 0px 0px 0px;
        height: 24px;
    }

    #footer nav ul {
        font-size: 14px;
        line-height: 25px;
    }

    #footer nav ul li {
        display: inline-block;
        padding-left: 19px;
        padding-right: 19px;
    }

    #bottom {
        height: 94px;
    }

    #bottom nav ul {
        font-size: 14px;
        line-height: 25px;
    }

    #bottom nav ul li {
        padding-left: 16px;
        padding-right: 16px;
    }

    #credits {
        padding-left: 25px;
        padding-right: 25px;
    }

    #credits p.email {
        display: none;
    }

    #credits p.credits {
        float: right;
        text-align: right;
        font-size: 7px;
        line-height: 13px;
    }

    #credits img.media {
        height: 36px;
        width: 36px;
        padding-right: 10px;
        padding-top: 8px;
        float: left;
    }

    #large_logo {
    height: 36px;
    display: block;
    float: center;
    padding-left: 40px;
    }

    .column h1, .column1 h1 {
        font-size: 20px;
    }

    .column p, .column1 p {
        font-size: 12px;
        line-height: 16px;
    }

@media (max-width: 500px) {
}



